@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu Mono', sans-serif;
  font-size: 14px;
  line-height: 1.4;
  color: #221E22;
  background-color: #B7B0B7;
}
.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-bottom: 6px solid #D98546;
  border-top: 6px solid #D98546;
}
.header {
  background-color: #221E22;
  text-align: center;
  padding: 30px;
}
.header img {
  width: 40%;
}
.content {
  padding: 30px;
  background-color: #f5f5f5;
}
.footer {
  padding: 20px;
  background-color: #f5f5f5;
  text-align: center;
  font-size: 12px;
  color: #221E22;
}
.footer a {
  color: #221E22;
  text-decoration: none;
  margin: 0 10px;
}
.footer p {
  margin: 0;
}
.divider {
  border-top: 1px solid #dddddd;
  width: 80%;
  margin: 20px auto;
  color: #dddddd;
}
.discord-link {
  max-width: 50%;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}


    
a {
  color: #D98546;
    }

/* Optional Button Components */

    .btn-nt {
      color: #fff !important;
      padding: 15px 30px;
      text-decoration: none !important;
      border-radius: 5px;
      display: inline-block;
      font-weight: bold;
      transition: background-color 0.3s ease-in-out;
      margin-top: 20px;
      max-width: 50%;
    }

    .btn-nt-primary {
      background-color: #4169e1;
    }

    .btn-nt-primary:hover {
      background-color: #3355a0;
    }

    .btn-nt-success {
      background-color: #49B265;
    }

    .btn-nt-success:hover {
      background-color: #159947;
    }

    .btn-nt-danger {
      background-color: #dc3545;
    }

    .btn-nt-danger:hover {
      background-color: #b02a37;
    }

    .btn-nt-warning {
      background-color: #ffc107;
    }

    .btn-nt-warning:hover {
      background-color: #ffc720;
    }

    .btn-nt-dark {
      background-color: #212529;
    }

    .btn-nt-dark:hover {
      background-color: #424649;
    }

    .nt-center {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
    }

/* End Optional Button Components */
